/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  background-color:rgb(64, 106, 107);
  color: white;
}
	
div.wrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  box-shadow: 20px 20px 20px black;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color:rgb(16, 131, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  color: #541b6e;
  font-style: italic;
}

header h1 
  {
  color: #ff5733;
  font-family: "Bitcount Grid Double", system-ui;
  font-size: 150%;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

/* ⬇ The h1's link */
header h1 a {
  text-decoration: none;
  color: rgb(161, 161, 216);
}

header h2 {
  color: #523c61;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
	display: block;
	text-decoration: none;
	color: rgb(47, 33, 87); /* ← you can change this */
  transition: all 0.75s ease-in-out;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: rgb(128, 80, 182); /* ← you can change this */
	border-radius: 2rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 1rem;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 110%;
  border-bottom: 5px solid #626262;
}

/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 125%;
  line-height: 1.5rem;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-column: 4/5;
  grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column: 4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  font-size: 110%;
  line-height: 2.5rem;
  font-style: italic;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left: 1rem;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  color: rgb(228, 241, 241);
  margin-right: 1rem;
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  color: #412a53;
  background-color: rgb(29, 185, 185);
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
 
}

/* ⬇ Name of each building */
section.campus h3 {
  font-size: 110%;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
  font-size: 75%;
  padding: 10px;
}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  font-size: 90%;
}



/* FOOTER
---------------------------------------*/

footer {
  background-color: darkcyan;
}

footer small { 
  font-size: 110%;
  line-height: 1px;
}

/* ⬇ The link in the footer */
footer a {
  
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

